{% extends 'templatebase.html'%}
{% set active_page = "addadmin" %}


{% block head%}
<style>

</style>
{% endblock %}


{% block body %}
    <div class="row" style="margin-left: 5%;">
        <div class="span12">
    <ul class="nav topnav">

    <li>
      <a style ="width: 20%; background-color: #4CAF50;border: white; border-style: solid; border-radius: 5px;  color: white;padding: 15px 32px;text-align: center;text-decoration: none;" href="{{url_for('addadmin', id = 0)}}">System Admin</a>
    </li>
    <li >
      <a style ="width: 20%; background-color: #4CAF50;border: white; border-style: solid; border-radius: 5px;color: white;padding: 15px 32px;text-align: center;text-decoration: none;" href="{{url_for('addadmin', id = 5)}}">Comflot Officer</a>
    </li>
    <li >
      <a style ="width: 20%; background-color: #4CAF50;border: white; border-style: solid; border-radius: 5px;color: white;padding: 15px 32px;text-align: center;text-decoration: none;" href="{{url_for('addadmin', id = 4)}}">Staff Officer</a>
    </li>
    <li >
      <a style ="width: 20%; background-color: #4CAF50;border: white; border-style: solid; border-radius: 5px;color: white;padding: 15px 32px;text-align: center;text-decoration: none;" href="{{url_for('addadmin', id = 3)}}">Commanding Officer</a>
    </li>
    <li >
      <a style ="width: 20%; background-color: #4CAF50;border: white; border-style: solid; border-radius: 5px;color: white;padding: 15px 32px;text-align: center;text-decoration: none;" href="{{url_for('addadmin', id = 2)}}">Divisional Officer</a>
    </li>
    <li >
      <a style ="width: 20%; background-color: #4CAF50;border: white; border-style: solid; border-radius: 5px;color: white;padding: 15px 32px;text-align: center;text-decoration: none;" href="{{url_for('addadmin', id = 1)}}">ADO</a>
    </li>

    
    
  </ul>
</div>
</div>

{% endblock %}