{% extends 'templatebase.html'%}
{% block head%}
{% endblock %}
{% block body%}
<div align="center">

  <div class="row" style="width: 80%;">
      <div class="span12" style="width: 100%;">
  {% if id == 0 %}
    <form method="POST" action="{{url_for('addingadmin', id = id)}}">
      <table>
        <tr>
          <td style="width: 50%;">O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td></td>
            <td ><input type="submit" class="btn btn-primary btn-lg " value="Add System Admin"></td>
        </tr>
      </table>
    </form>
  {% endif %}
  {% if id == 5 %}
    <form method="POST" action="{{url_for('addingadmin', id = id)}}">
      <table>
        <tr>
          <td>O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
          
            <td>Name </td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td >Branch & Rank</td>
          <td >
            <select  name="Branch" class="form-control mr-sm-2" onchange="SList.getSelect('slist2', this.value);">
            <option>- - -</option>
            {%for key in Branch_key %}
                <option value="{{key}}">{{key}}</option>
            {%endfor%}

           </select>
           <span id="slist2"></span> <div id="scontent"></div></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td></td>
            <td ><input type="submit" class="btn btn-primary btn-lg " value="Add Comflot Officer"></td>
        </tr>
      </table>
    </form>
  {% endif %}
  {% if id == 4 %}
    <form method="POST" action="{{url_for('addingadmin', id = id)}}">
      <table>
        <tr>
          <td>O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
            <td>Name </td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td >Branch & Rank</td>
          <td >
            <select  name="Branch" class="form-control mr-sm-2" onchange="SList.getSelect('slist2', this.value);">
            <option>- - -</option>
            {%for key in Branch_key %}
                <option value="{{key}}">{{key}}</option>
            {%endfor%}

           </select>
           <span id="slist2"></span> <div id="scontent"></div></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td></td>
            <td ><input type="submit" class="btn btn-primary btn-lg " value="Add Staff Officer"></td>
        </tr>
      </table>
    </form>
  {% endif %}
  {% if id == 3 %}
    <form method="POST" action="{{url_for('addingadmin', id = id)}}">
      <table>
        <tr>
          <td>O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
            <td>Name </td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td >Branch & Rank</td>
            <td >
              <select  name="Branch" class="form-control mr-sm-2" onchange="SList.getSelect('slist2', this.value);">
              <option>- - -</option>
              {%for key in Branch_key %}
                  <option value="{{key}}">{{key}}</option>
              {%endfor%}
  
             </select>
             <span id="slist2"></span> <div id="scontent"></div></td>
          </tr>
        <tr>
            <td>Name of Ship</td>
            <td >
              <select  class="form-control mr-sm-2" name="NameofShip">{%for i in range(Name_of_Ship|length) %}
                      <option  value="{{Name_of_Ship[i]}}">{{Name_of_Ship[i]}}</option>
                  {%endfor%}
              </select>
            </td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td></td>
            <td ><input type="submit" class="btn btn-primary btn-lg " value="Add Commanding Officer"></td>
        </tr>
      </table>
    </form>
  {% endif %}

  {% if id == 2 %}
    <form method="POST" action="{{url_for('addingadmin', id = id)}}">
      <table>
        <tr>
          <td>O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
            <td>Name </td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td >Branch & Rank</td>
            <td >
              <select  name="Branch" class="form-control mr-sm-2" onchange="SList.getSelect('slist2', this.value);">
              <option>- - -</option>
              {%for key in Branch_key %}
                  <option value="{{key}}">{{key}}</option>
              {%endfor%}
  
             </select>
             <span id="slist2"></span> <div id="scontent"></div></td>
          </tr>
        
        <tr>
            <td>Commanding Officer O No</td>
            <td><input type="text" name="CO_O_No"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td></td>
            <td ><input type="submit" class="btn btn-primary btn-lg " value="Add Divisional Officer"></td>
        </tr>
      </table>
    </form>
  {% endif %}

  {% if id == 1 %}
    <form method="POST" action="{{url_for('addingadmin', id = id)}}">
      <table>
        <tr>
          <td>O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
            <td>Name </td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td >Branch & Rank</td>
            <td >
              <select  name="Branch" class="form-control mr-sm-2" onchange="SList.getSelect('slist2', this.value);">
              <option>- - -</option>
              {%for key in Branch_key %}
                  <option value="{{key}}">{{key}}</option>
              {%endfor%}
  
             </select>
             <span id="slist2"></span> <div id="scontent"></div></td>
          </tr>
          <tr>
            <td>Divisional Officer O No</td>
            <td><input type="text" name="DO_O_No"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
        
        <tr>
            <td></td>
            <td ><input type="submit" class="btn btn-primary btn-lg " value="Add AD Officer"></td>
        </tr>
      </table>
    </form>
  {% endif %}
  
  </div>
</div>
</div>

<script>
        var SList = new Object(); 
        var txtsl2 = '';
        SList.slist2 = JSON.parse('{{ Branch|safe }}')
        SList.getSelect = function(slist, option) {
          document.getElementById('scontent').innerHTML = '';
        
          if(SList[slist][option]) {
            if(slist == 'scontent') document.getElementById('scontent').innerHTML = SList[slist][option];
            else if(slist == 'slist2') {
              var addata = '<option>- - -</option>';
              for(var i=0; i<SList[slist][option].length; i++) {
                addata += '<option value="'+SList[slist][option][i]+'">'+SList[slist][option][i]+'</option>';
              }
        
              document.getElementById('slist2').innerHTML = txtsl2+' <select class="form-control mr-sm-2" name="Rank" onchange="SList.getSelect(\'scontent\', this.value);">'+addata+'</select>';
            }
          }
          else if(slist == 'slist2') {
            document.getElementById('slist2').innerHTML = '';
          }
        }

        
</script>
{% endblock %}
