{% extends 'base.html'%}

{% block head %}


<script>
var SList = new Object(); 


var txtsl2 = '';


SList.slist2 = JSON.parse('{{ Branch|safe }}')
SList.getSelect = function(slist, option) {
  document.getElementById('scontent').innerHTML = '';           // empty option-content

  if(SList[slist][option]) {
    // if option from the last Select, add text-content, else, set dropdown list
    if(slist == 'scontent') document.getElementById('scontent').innerHTML = SList[slist][option];
    else if(slist == 'slist2') {
      var addata = '<option>- - -</option>';
      for(var i=0; i<SList[slist][option].length; i++) {
        addata += '<option value="'+SList[slist][option][i]+'">'+SList[slist][option][i]+'</option>';
      }

      document.getElementById('slist2').innerHTML = txtsl2+' <select name="slist2" onchange="SList.getSelect(\'scontent\', this.value);">'+addata+'</select>';
    }
  }
  else if(slist == 'slist2') {
    document.getElementById('slist2').innerHTML = '';
  }
}

</script>
{% endblock %}

{% block body %}
<form method="POST" action="{{url_for('adding_user')}}">
    <table>
        <tr>
          <td><h2>Basic Particulars</h2></td>
        </tr>
        <tr>
            <td>O. No</td>
            <td><input type="number" name="O_No"></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>Branch & Rank</td>
          <td>
            <select name="slist1" onchange="SList.getSelect('slist2', this.value);">
            <option>- - -</option>
            {%for key in Branch_key %}
                <option value={{key}}>{{key}}</option>
            {%endfor%}

           </select>  
           <span id="slist2"></span> <div id="scontent"></div></td>
        </tr>

        <tr>
            <td>Mobile No - 1</td>
            <td><input type="text" name="MobileNo_1"></td>
        </tr>
        <tr>
        <td>Mobile No - 2</td>
            <td><input type="text" name="MobileNo_2"></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td><input type="date" name="DateofBirth"></td>
        </tr>
        <tr>
            <td>Present Address</td>
            <td><input type="text" name="PresentAddress"></td>
        </tr>
        <tr>
            <td>Permanent Address</td>
            <td><input type="text" name="PermanentAddress"></td>
        </tr>

        <tr>
            <td>Marital Status</td>
            <td>
                <select name="marrital_status">{%for i in range(Marital_Status|length) %}
                        <option  value={{i}}>{{Marital_Status[i]}}</option>
                    {%endfor%}
                        
                </select>
            </td>
        </tr>
        <tr>
            <td>Date of Marriage</td>
            <td><input type="date" name="DateofMarriage"></td>
        </tr>
        <tr>
            <td>Service Id Card No</td>
            <td><input type="number" name="ServiceIdCardNo"></td>
        </tr>
        <tr>
            <td>NID Card No</td>
            <td><input type="number" name="NIDCardNo"></td>
        </tr>
        <tr>
            <td>Driving License No</td>
            <td><input type="number" name="DrivingLicenseNo"></td>
        </tr>
        <tr>
            <td>Blood Group</td>
            <td>
                <select name="BloodGroup">{%for i in range(Blood_Group|length) %}
                        <option  value={{i}}>{{Blood_Group[i]}}</option>
                    {%endfor%}
                        
                </select>
            </td>
        </tr>
        <tr>
            <td>Height</td>
            <td><input type="number" name="Height"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td><input type="number" name="Weight"></td>
        </tr>
        <tr>
            <td>Facebook Account</td>
            <td><input type="text" name="FacebookAccount"></td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td><input type="email" name="Emailaddress  "></td>
        </tr>

        <tr>
          <td>Home District</td>
          <td>
              <select name="home_district">{%for i in range(Home_District|length) %}
                      <option  value={{i}}>{{Home_District[i]}}</option>
                  {%endfor%}
                      
              </select>
          </td>
      </tr>
      <tr>
          <td><h2>Family Particulars</h2></td>
      </tr>
      <tr>
          <td>Next of Kin</td>
          <td><input type="text" name="NextofKin"></td>
      </tr>
      <tr>
          <td>Relationship</td>
          <td><input type="text" name="Relationship"></td>
      </tr>
      <tr>
          <td>Contact Number of Next of Kin</td>
          <td><input type="number" name="ContactNumberofNextofKin"></td>
      </tr>
      <tr>
          <td>Name of Wife</td>
          <td><input type="text" name="NameofWife"></td>
      </tr>
      <tr>
          <td>Address of Wife</td>
          <td><input type="text" name="AddressofWife"></td>
      </tr>
      <tr>
          <td>Mobile No</td>
          <td><input type="number" name="MobileNo"></td>
      </tr>
      <tr>
          <td>Any special info(related to wife)</td>
          <td><input type="text" name="Anyspecialinfowife"></td>
      </tr>
      <tr>
          <td>Children Number</td>
          <td><input type="text" name="ChildrenNumber"></td>
      </tr>
      <tr>
          <td>Children Name</td>
          <td><input type="text" name="ChildrenName"></td>
      </tr>
      <tr>
          <td>DOB of Children</td>
          <td><input type="date" name="DOBofChildren"></td>
      </tr>
      <tr>
          <td>Any special info(related to Children)</td>
          <td><input type="text" name="Anyspecialinfochildren"></td>
      </tr>
      <tr>
          <td>Father's Name</td>
          <td><input type="text" name="FathersName"></td>
      </tr>
      <tr>
          <td>Father's Mobile No</td>
          <td><input type="number" name="FathersMobileNo"></td>
      </tr>
      <tr>
          <td>Father's Address</td>
          <td><input type="text" name="FathersAddress"></td>
      </tr>
      <tr>
        <td>Mother's Name</td>
        <td><input type="text" name="MothersName"></td>
      </tr>
      <tr>
          <td>Mother's Mobile No</td>
          <td><input type="number" name="MothersMobileNo"></td>
      </tr>
      <tr>
          <td>Mother's Address</td>
          <td><input type="text" name="MothersAddress"></td>
      </tr>
      <tr>
          <td>Family Crisis(If any)</td>
          <td><input type="text" name="FamilyCrisis"></td>
      </tr>
    
      <tr>
          <td><h2>Sibling Information</h2></td>
      </tr>
      <tr>
          <td>Sibling Number</td>
          <td><input type="text" name="SiblingNumber"></td>
      </tr>
      <tr>
          <td>Brother's Name</td>
          <td><input type="text" name="BrothersName"></td>
      </tr>
      <tr>
          <td>Brother's Mobile No</td>
          <td><input type="number" name="BrothersMobileNo"></td>
      </tr>
      <tr>
          <td>Brother's Address</td>
          <td><input type="text" name="BrothersAddress"></td>
      </tr>
      <tr>
          <td><h2>Educational Information</h2></td>
      </tr>
      <tr>
          <td>Highest Education</td>
          <td>
              <select name="highestEducation">{%for i in range(Highest_Education|length) %}
                      <option  value={{i}}>{{Highest_Education[i]}}</option>
                  {%endfor%}
                      
              </select>
          </td>
      </tr>
      <tr>
          <td>Ongoing civil Education</td>
          <td>
              <select name="OngoingcivilEducation">{%for i in range(Ongoing_Education|length) %}
                      <option  value={{i}}>{{Ongoing_Education[i]}}</option>
                  {%endfor%}
              </select>
          </td>
      </tr>
      <tr>
          <td><h2>Service Information</h2></td>
      </tr>
      <tr>
          <td>Date of Joining Service</td>
          <td><input type="date" name="DateofJoiningService"></td>
      </tr>
      <tr>
          <td>Service Category</td>
          <td>
              <select name="ServiceCategory">{%for i in range(Service_Category|length) %}
                      <option  value={{i}}>{{Service_Category[i]}}</option>
                  {%endfor%}
              </select>
          </td>
      </tr>
      <tr>
          <td>Medical category</td>
          <td><input type="text" name="Medicalcategory"></td>
      </tr>
      <tr>
          <td>Date of Last Promotion</td>
          <td><input type="date" name="DateofLastPromotion"></td>
      </tr>
      <tr>
          <td>Date of Next Promotion</td>
          <td><input type="date" name="DateofNextPromotion"></td>
      </tr>
      <tr>
          <td>Present Engagement</td>
          <td>
              <select name="PresentEngagement">{%for i in range(Present_Engagement|length) %}
                      <option  value={{i}}>{{Present_Engagement[i]}}</option>
                  {%endfor%}
              </select>
          </td>
      </tr>
      <tr>
          <td>Number of GCB</td>
          <td>
              <select name="NumberofGCB">{%for i in range(Number_of_GCB|length) %}
                      <option  value={{i}}>{{Number_of_GCB[i]}}</option>
                  {%endfor%}
              </select>
          </td>
      </tr>
      <tr>
          <td>Effective date of existing GCB</td>
          <td><input type="date" name="EffectivedateofexistingGCB"></td>
      </tr>
      <tr>
          <td>Date of Joining Ship</td>
          <td><input type="date" name="DateofJoiningShip"></td>
      </tr>
      <tr>
          <td>Name of Ship</td>
          <td><input type="text" name="NameofShip"></td>
      </tr>
      <tr>
          <td>UN Mission</td>
          <td><input type="text" name="UNMission"></td>
      </tr>
      <tr>
          <td>Good Will Mission</td>
          <td><input type="text" name="GoodWillMission"></td>
      </tr>
      <tr>
          <td>DAO Number</td>
          <td><input type="text" name="DAONumber"></td>
      </tr>
      <tr>
          <td><h2>Leave Particulars</h2></td>
      </tr>
      <tr>
          <td>P Leave Availed</td>
          <td><input type="number" name="PLeaveAvailed"></td>
      </tr>
      <tr>
          <td>Last Date of PL</td>
          <td><input type="date" name="LastDateofPL"></td>
      </tr>
      <tr>
        <td>C Leave Availed</td>
        <td><input type="number" name="CLeaveAvailed"></td>
      </tr>

      <tr>
        <td>Sick Leave</td>
        <td><input type="number" name="SickLeave"></td>
      </tr>
      <tr>
        <td>Ex Bangladesh Leave</td>
        <td><input type="text" name="ExBangladeshLeave"></td>
      </tr>
      <tr>
        <td>RL</td>
        <td><input type="text" name="Rl"></td>
      </tr>

      <tr><td><h2>Financial Section</h2></td></tr>
      <tr>
          <td>Source of debt.</td>
          <td><input type="text" name="Sourceofdebt"></td>
      </tr>
      <tr>
        <td>Amount of debt.</td>
        <td><input type="number" name="Amountofdebt"></td>
      </tr>

      <tr><td><h2>Remarks Section</h2></td></tr>
      <tr>
        <td>ADO's Remark</td>
        <td><input type="text" name="ADOsRemark"></td>
      </tr>
      <tr>
        <td>Divisional Officer's Remark</td>
        <td><input type="text" name="DivisionalOfficersRemark"></td>
      </tr>
      <tr>
        <td>CO's Special Remark(if any)</td>
        <td><input type="text" name="COsSpecialRemark"></td>
      </tr>
      <tr>
        <td>Area Commander/CO's recommendation/remarks</td>
        <td><input type="text" name="AreaCommanderRemark"></td>
      </tr>

      <tr><td><h2>Personal Preferences</h2></td></tr>
      <tr>
          <td>Choice of Area for Posting</td>
          <td>
            <select name="ChoiceofAreaForPosting">{%for i in range(Choice_of_Area_for_drafting|length) %}
                    <option  value={{i}}>{{Choice_of_Area_for_drafting [i]}}</option>
                {%endfor%}
                    
            </select>
        </td>
      </tr>
      <tr>
        <td>Choice of Next Appointment</td>
        <td>
          <select name="ChoiceofNextAppointment">{%for i in range(Choice_of_Next_Appointment|length) %}
                  <option  value={{i}}>{{Choice_of_Next_Appointment [i]}}</option>
              {%endfor%}
                  
          </select>
      </td>
      </tr>
      <tr><td><h2>Course Information</h2></td></tr>
      <tr>
          <td>Name of important courses</td>
          <td><input type="text" name="NameofImportantCourses"></td>
      </tr>
      <tr>
        <td>Name of Next courses</td>
        <td><input type="text" name="NameofNextCourse"></td>
      </tr>
      <tr>
        <td>Foreign course</td>
        <td><input type="text" name="ForeignCourse"></td>
      </tr>
      <tr>
        <td>Special qualification</td>
        <td><input type="text" name="SpecialQualification"></td>
      </tr>
      <tr>
        <td>Choice of next course</td>
        <td><input type="text" name="ChoiceofNextCourse"></td>
      </tr>
      <tr><td><h2>TY Movement History</h2></td></tr>
      <tr>
          <td>Date of proceeding in ty duty</td>
          <td><input type="date" name="DateofProceedinginTyDuty"></td>
      </tr>
      <tr>
        <td>Ty billet</td>
        <td><input type="text" name="TyBillet"></td>
      </tr>
      <tr>
        <td>Purpose of Ty</td>
        <td><input type="text" name="PurposetofTy"></td>
      </tr>
      <tr>
        <td>Ty Duration</td>
        <td><input type="number" name="TyDuration"></td>
      </tr>
      <tr>
        <td>If Not Return</td>
        <td>
                <select name="IfNotReturn">{%for i in range(YesNo|length) %}
                        <option  value={{i}}>{{YesNo[i]}}</option>
                    {%endfor%}
                        
                </select>
            </td>
      </tr>
      <tr>
        <td>Total Ty Duration</td>
        <td><input type="number" name="TotalTyDuration"></td>
      </tr>
      <tr>
        <td>Ty History Summary</td>
        <td><input type="text" name="TyHistorySummary"></td>
      </tr>

      <tr><td><h2>Optional Data</h2></td></tr>
      <tr>
        <td>Date of last Security clearance</td>
        <td><input type="date" name="DateoflastSecurityClearance"></td>
      </tr>
      <tr>
        <td>Extra Curricular Activities</td>
        <td><input type="text" name="ExtraCurricularActivities"></td>
      </tr>
      <tr>
            <td>Games and Sports</td>
            <td><input type="text" name="GamesAndSports"></td>
          </tr>


          <tr>
                <td><h2>Sign Up Information</h2></td>
            </tr>
      <tr>
            <td>User Type</td>
            <td>
              <select name="usertype">{%for i in range(User_Type|length) %}
                      <option  value={{i}}>{{User_Type[i]}}</option>
                  {%endfor%}
                      
              </select>
          </td>
    </tr>
      <tr>
        <td>User Password</td>
        <td><input type="password" name="password"></td>
       </tr>
      

















      

      <tr>
          <td><input type="submit" value="Add User"></td>
      </tr>
    </table>
</form>
{% endblock %}