{% extends 'templatebase.html'%}
{% set active_page = "adduser" %}


{% block head%}

<style>
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    font-size:1vw;
    width: 20%;
  }

  /* .tablink:hover {
  background-color: #0d0d0e;
  }
 */



  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 100px 20px;
    width: 80%;
    margin-left: 5%;

  }
  .form-control{
    width: 90%;
    /* margin-right:2%; */
  }
  body,
  html {
      height: 100%;
      background-color: white;
  }
  h1{
      font-weight: bold;
      font-size: 220%;
      text-decoration: underline;
      text-align: center;
      color:rgb(80, 72, 68);
  }
  td{
      text-align: left;
      font-size: 130%;;
      font-weight: bold;
      padding-left: 2%;
      padding-right: 3%;
      height: 100%;
      /* padding: 1%;; */
      /* color:white; */
  }
  input:focus[type=text],input:focus[type=number]input:focus[type=date]{
    font-size:large ;
    background-color: white ;
    color:black;
  }
  tr:hover{
    background-color: rgba(0, 36, 24, 0.267);;
  }
  input[type=text],input[type=number],input[type=date]{
    font-size: large;
    width: 100%;
    padding: 3.5% 2.5%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}   
</style>
{% endblock %}



{%block body%}

    
<div align="center">

  <div class="row" style="width: 80%;">
      <div class="span12" style="width: 100%;">
<div>
    <button class="tablink" onclick="openPage('BasicParticulars', this, 'grey')" id="defaultOpen">Basic Particulars</button>
    <button class="tablink" onclick="openPage('FamilyParticulars', this, 'grey')" >Family Particulars</button>
    <button class="tablink" onclick="openPage('ServiceInformation', this, 'grey')">Service Information</button>
    <button class="tablink" onclick="openPage('CourseInformation', this, 'grey')">Course Information</button>
    <button class="tablink" onclick="openPage('OptionalData', this, 'grey')">Additional Data</button>

</div>
<form method="POST" action="{{url_for('adding_user')}}">
  <div id="BasicParticulars" class="tabcontent" align="center;">
    <h1>Basic Particulars</h1> 
    <table  style="width:100%; height: 100%; ">
      <tr>
        <th style="align-content: left;"></th>
        <th style="text-align: center;"></th>
      </tr>
        <tr>
            <td style="width: 40%; height: 100%;" >O. No</td>
            <td ><input class=" form-control" type="text" name="O_No" ></td>
        </tr>
        {% if session['usertype'] == '1'%}
        <tr>
          <td >ADO O. No</td>
          <td ><input class=" form-control" type="text" readonly name="ADO_O_No" value="{{session['O_No']}}"></td>
        </tr>
        {% else %}
        <tr>
          <td >ADO O. No</td>
          <td ><input class=" form-control mr-sm-2" type="text" name="ADO_O_No"></td>
        </tr>
        {% endif %}
        
        <tr>
          <td >Name</td>
          <td ><input type="text" class="form-control mr-sm-2" name="name"  ></td>
        </tr>

        <tr>
          <td >Branch & Rank</td>
          <td >
            <select  name="Branch" class="form-control mr-sm-2" onchange="SList.getSelect('slist2', this.value);">
            <option>- - -</option>
            {%for key in Branch_key %}
                <option value="{{key}}">{{Branch_Value[loop.index]}}</option>
            {%endfor%}

           </select>
           <span id="slist2"></span> <div id="scontent"></div></td>
        </tr>
        <tr>
          <td >Blood Group</td>
          <td >
              <select  class="form-control mr-sm-2" name="BloodGroup">{%for i in range(Blood_Group|length) %}
                      <option  value="{{Blood_Group[i]}}">{{Blood_Group[i]}}</option>
                  {%endfor%}

              </select>
          </td>
        </tr>
        <tr>
          <td >Marital Status</td>
          <td >
              <select  class="form-control mr-sm-2" name="marrital_status">{%for i in range(Marital_Status|length) %}
                      <option  value="{{Marital_Status[i]}}">{{Marital_Status[i]}}</option>
                  {%endfor%}

              </select>
          </td>
        </tr>

        <tr>
          <td >Present Address</td>
          <td ><input type="text" class="form-control mr-sm-2" name="PresentAddress"  ></td>
        </tr>
        <tr>
          <td >Permanent Address</td>
          <td ><input type="text" class="form-control mr-sm-2" name="PermanentAddress" ></td>
        </tr>
        
        <tr>
            <td >Date of Birth</td>
            <td ><input  class="form-control mr-sm-2"  type="date" date-month-format="DD MM YYYY" name="DateofBirth"></td>
        </tr>
        <tr>
            <td >Date of Marriage</td>
            <td ><input  class="form-control mr-sm-2" type="date" name="DateofMarriage"></td>
        </tr>
        <tr>
            <td >Mobile No - 1</td>
            <td ><input class="form-control mr-sm-2"  type="text" name="MobileNo_1"></td>
        </tr>
        <tr>
        <td >Mobile No - 2</td>
            <td ><input  class="form-control mr-sm-2"  type="text" name="MobileNo_2"></td>
        </tr>
        <tr>
          <td >Weight(in kg)</td>
          <td ><input class="form-control mr-sm-2"  type="number" name="Weight"></td>
        </tr>
        <tr>
          <td >Height(in inches)</td>
          <td ><input class="form-control mr-sm-2"  type="number" name="Height"></td>
        </tr>
        <tr>
          <td >Email Address</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="Emailaddress"></td>
        </tr>
        <tr>
            <td >Service Id Card No</td>
            <td ><input class="form-control mr-sm-2"  type="text" name="ServiceIdCardNo"></td>
        </tr>
        <tr>
            <td >NID Card No</td>
            <td ><input class="form-control mr-sm-2"  type="text" name="NIDCardNo"></td>
        </tr>
        <tr>
            <td >Driving License No</td>
            <td ><input class="form-control mr-sm-2"  type="text" name="DrivingLicenseNo"></td>
        </tr>
        
        
           

    </table>
  </div>
  <div id="FamilyParticulars" class="tabcontent">
    <h1>Family Particulars</h1>
    <table  style="width:100%;height: 100%;" frame="box">
      <tr>
          <td style="width: 35%;" >Next of Kin</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="NextofKin"></td>
      </tr>
      <tr>
          <td  >Relationship</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="Relationship"></td>
      </tr>
      <tr>
          <td >Contact Number of Next of Kin</td>
          <td ><input class="form-control mr-sm-2" type="text" name="ContactNumberofNextofKin"></td>
      </tr>
      <tr>
          <td >Name of Wife</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="NameofWife"></td>
      </tr>
      <tr>
        <td >Mobile No</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="MobileNo"></td>
      </tr>
      <tr>
          <td >Address of Wife</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="AddressofWife"></td>
      </tr>
      <tr>
          <td >Any special info(related to wife)</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="Anyspecialinfowife"></td>
      </tr>
      <tr>
        <td>Chilren Information</td>
        <td>
          <table style="width: 100%; height: 100%;" id="ChildTable">
            <tr>
              <th>Children Name</th>
              <th>DOB of Children</th>
              <th>Any special info</th>
            </tr>
            <tr>
              <td><input  type="text" name="ChildrenName1"></td>
              <td><input  type="date" name="DOBofChildren1"></td>
              <td><input  type="text" name="Anyspecialinfochildren1"></td>
            </tr>
          </table>
          <button type="button" class="btn btn-primary btn-lg " onclick="ChildFunction()">Add more Chilren Info</button>
        </td>
      </tr>

      <!-- <tr>
        <td>
          <br>
        </td>
        <td>
          <br>
        </td>
      </tr> -->
    
      <tr>
          <td >Father's Name</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="FathersName"></td>
      </tr>
      <tr>
          <td >Father's Mobile No</td>
          <td ><input class="form-control mr-sm-2" type="text" name="FathersMobileNo"></td>
      </tr>
      <tr>
        <td >Mother's Name</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="MothersName"></td>
      </tr>
      <tr>
          <td >Mother's Mobile No</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="MothersMobileNo"></td>
      </tr>
      <tr>
          <td >Father's Address</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="FathersAddress"></td>
      </tr>
      <tr>
          <td >Mother's Address</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="MothersAddress"></td>
      </tr>


      <tr>
        <td>Sibling Information</td>
        <td >
          <table id="SiblingTable" style="width: 100%;">
            <tr>
              <th>Sibling's Name</th>
              <th>Sibling's Mobile No</th>
              <th>Sibling's Address</th>
            </tr>
            <tr>
              <td><input  type="text" name="SiblingName1"></td>
              <td><input  type="text" name="SiblingMobileNo1"></td>
              <td><input  type="text" name="SiblingAddress1"></td>
            </tr>
          </table>
          <button type="button" class="btn btn-primary btn-lg " onclick="SiblingFunction()">Add more Sibling Info</button>
        </td >
      </tr>
      <!-- <tr>
        <td>
          <br>
        </td>
        <td>
          <br>
        </td>
      </tr> -->
          <td >Family Crisis(If any)</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="FamilyCrisis"></td>
      </tr>
    </table>
  </div>
  <div id="ServiceInformation" class="tabcontent">
    <h1>Service Information</h1>
    <table style="width:100%;height: 100%;" frame="box">
      <tr>
        <td style="width: 35%;">Service Category</td>
        <td >
            <select  class="form-control mr-sm-2" name="ServiceCategory">{%for i in range(Service_Category|length) %}
                    <option  value="{{Service_Category[i]}}">{{Service_Category[i]}}</option>
                {%endfor%}
            </select>
        </td>
      </tr>
      <tr>
        <td >Present Engagement</td>
        <td >
            <select  class="form-control mr-sm-2" name="PresentEngagement">{%for i in range(Present_Engagement|length) %}
                    <option  value="{{Present_Engagement[i]}}">{{Present_Engagement[i]}}</option>
                {%endfor%}
            </select>
        </td>
      </tr>
      <tr>
        <td >Number of GCB</td>
        <td >
            <select  class="form-control mr-sm-2" name="NumberofGCB">{%for i in range(Number_of_GCB|length) %}
                    <option  value="{{Number_of_GCB[i]}}">{{Number_of_GCB[i]}}</option>
                {%endfor%}
            </select>
        </td>
      </tr>
      <tr>
        <td >Effective date of existing GCB</td>
        <td ><input class="form-control mr-sm-2"  type="date" name="EffectivedateofexistingGCB"></td>
      </tr>
      <tr>
        <td >Date of Next Promotion</td>
        <td ><input class="form-control mr-sm-2"  type="date" name="DateofNextPromotion"></td>
      </tr>
      <tr>
        <td >Medical category</td>
        <td >
            <select  class="form-control mr-sm-2" name="Medicalcategory">{%for i in range(Medical_Category|length) %}
                    <option  value="{{Medical_Category[i]}}">{{Medical_Category[i]}}</option>
                {%endfor%}
            </select>
        </td>
      </tr>
      <tr>
        <td >Date of Last Promotion</td>
        <td ><input class="form-control mr-sm-2" type="date" name="DateofLastPromotion"></td>
      </tr>
      <tr>
          <td >Date of Joining Service</td>
          <td ><input class="form-control mr-sm-2"  type="date" name="DateofJoiningService"></td>
      </tr>
      <tr>
          <td >Date of Joining Ship</td>
          <td ><input class="form-control mr-sm-2"  type="date" name="DateofJoiningShip"></td>
      </tr>
      <tr>
        <td >Name of Ship</td>
        <td >
            <select  class="form-control mr-sm-2" name="NameofShip">{%for i in range(Name_of_Ship|length) %}
                    <option  value="{{Name_of_Ship[i]}}">{{Name_of_Ship[i]}}</option>
                {%endfor%}
            </select>
        </td>
      </tr>
      <tr>
        <td>Number of Days at Sea</td>
        <td><input class="form-control mr-sm-2"  type="text" name="NumberofDaysatSea"></td>
      </tr>
      <tr>
          <td >UN Mission</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="UNMission"></td>
      </tr>
      <tr>
          <td >Good Will Mission</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="GoodWillMission"></td>
      </tr>
      <tr>
          <td >DAO Number</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="DAONumber"></td>
      </tr>
      <tr>
        <td >Highest Education</td>
        <td >
            <select  class="form-control mr-sm-2" name="highestEducation">{%for i in range(Highest_Education|length) %}
                    <option  value="{{Highest_Education[i]}}">{{Highest_Education[i]}}</option>
                {%endfor%}

            </select>
        </td>
      </tr>
      <tr>
          <td >Ongoing civil Education</td>
          <td >
              <select class="form-control mr-sm-2" name="OngoingcivilEducation">{%for i in range(Ongoing_Education|length) %}
                      <option  value="{{Ongoing_Education[i]}}">{{Ongoing_Education[i]}}</option>
                  {%endfor%}
              </select>
          </td>
      </tr>
    </table>

  </div>
  <div id="CourseInformation" class="tabcontent">
    <h1>Course Information</h1>
    <table style="width:100%;height: 100%;" frame="box">
      <tr>
          <td style="width: 35%;"  >Name of important courses</td>
          <td ><input class="form-control mr-sm-2"  type="text" name="NameofImportantCourses"></td>
      </tr>
      <tr>
        <td >Name of Next courses</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="NameofNextCourse"></td>
      </tr>
      <tr>
        <td >Foreign course</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="ForeignCourse"></td>
      </tr>
      <tr>
        <td >Special qualification</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="SpecialQualification"></td>
      </tr>

    </table>
  </div>
  <div id="OptionalData" class="tabcontent">
    <h1>Additional Data</h1>
    <table style="width:100%;height: 100%;" frame="box">
      <tr>
        <td style="width:35%">Choice of Area for Posting</td>
        <td >
          <select  class="form-control mr-sm-2" name="ChoiceofAreaForPosting">{%for i in range(Choice_of_Area_for_drafting|length) %}
                  <option  value="{{Choice_of_Area_for_drafting[i]}}">{{Choice_of_Area_for_drafting [i]}}</option>
              {%endfor%}

          </select>
        </td>
      </tr>
      <tr>
        <td >Choice of Next Appointment</td>
        <td >
          <select  class="form-control mr-sm-2" name="ChoiceofNextAppointment">{%for i in range(Choice_of_Next_Appointment|length) %}
                  <option  value="{{Choice_of_Next_Appointment[i]}}">{{Choice_of_Next_Appointment [i]}}</option>
              {%endfor%}

          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 40%;" >Choice of next course</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="ChoiceofNextCourse"></td>
      </tr>
      <tr>
        <td >Extra Curricular Activities</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="ExtraCurricularActivities"></td>
      </tr>
      <tr>
          <td >Games and Sports</td>
          <td ><input class="form-control mr-sm-2"   type="text" name="GamesAndSports"></td>
      </tr>
      
      <tr>
        <td >Last Date of BloodDonation</td>
        <td ><input class="form-control mr-sm-2"  type="date" name="LastDateofBloodDonation"></td>
      </tr>
      <tr>
        <td >MLR</td>
        <td ><input class="form-control mr-sm-2"  type="text" name="MLR"></td>
      </tr>
      <tr>
        <td></td>
        <td><input class="btn btn-primary btn-lg " type="submit" value="Add User"></td>
      </tr>

      
    </table>
  </div>

</form>

</div>
</div>
</div>
<script>
    function openPage(pageName,elmnt,color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
<script>
        var SList = new Object(); 
        var txtsl2 = '';
        SList.slist2 = JSON.parse('{{ Branch|safe }}')
        SList.getSelect = function(slist, option) {
          document.getElementById('scontent').innerHTML = '';
        
          if(SList[slist][option]) {
            if(slist == 'scontent') document.getElementById('scontent').innerHTML = SList[slist][option];
            else if(slist == 'slist2') {
              var addata = '<option>- - -</option>';
              for(var i=0; i<SList[slist][option].length; i++) {
                addata += '<option value="'+SList[slist][option][i]+'">'+SList[slist][option][i]+'</option>';
              }
        
              document.getElementById('slist2').innerHTML = txtsl2+' <select class="form-control mr-sm-2" name="Rank" onchange="SList.getSelect(\'scontent\', this.value);">'+addata+'</select>';
            }
          }
          else if(slist == 'slist2') {
            document.getElementById('slist2').innerHTML = '';
          }
        }

        
</script>

<script>
  function ChildFunction() {
    var table = document.getElementById("ChildTable");
    var row = table.insertRow(table.rows.length);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    cell1.innerHTML = '<input class="form-control mr-sm-2"  type="text" name="ChildrenName'+(table.rows.length - 1)+'">'
    cell2.innerHTML = '<input class="form-control mr-sm-2"  type="date" name="DOBofChildren'+(table.rows.length - 1)+'">';
    cell3.innerHTML = '<input class="form-control mr-sm-2"  type="text" name="Anyspecialinfochildren'+(table.rows.length - 1)+'">';
  }
  </script>

<script>
  function SiblingFunction() {
    var table = document.getElementById("SiblingTable");
    var row = table.insertRow(table.rows.length);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    cell1.innerHTML = '<input class="form-control mr-sm-2"  type="text" name="SiblingName'+(table.rows.length - 1)+'">'
    cell2.innerHTML = '<input class="form-control mr-sm-2"  type="text" name="SiblingMobileNo'+(table.rows.length - 1)+'">';
    cell3.innerHTML = '<input class="form-control mr-sm-2"  type="text" name="SiblingAddress'+(table.rows.length - 1)+'">';
  }
  </script>
{%endblock%}

















