{% extends 'templatebase.html'%}
{% block head%}
{% endblock %}
{% block body%}
<div class="row" style="margin-left: 5%;">
  <div class="span12">
  {% if id == 0 %}
    <form>
      <table>
        <tr>
          <td style="width: 30%;">O No / UserID </td>
          <td><input type="text" name="O_No"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pass"></td>
        </tr>
      </table>
    </form>
  {% endif %}
  </div>
</div>
{% endblock %}
