{%extends 'base.html'%}

{%block pagebody%}
<!-- Start Home Section -->
<section id="home" class="hero-wrap js-fullheight" style="background-image: url(/static/images/bg-1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-lg-7 ftco-animate d-flex align-items-center">
            <div class="text text-center">
                <h1 class="logo" >
                    <img src="/static/images/logo_cfw.png" alt="Commander Flotilla West">
                </h1>
                        <h1 class="mb-4">WELCOME <br> TO <br> COMFLOT WEST</h1>
                        <h3 class="mb-4">DIGITAL DIVISIONAL RECORD BOOK</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Start Footer Section -->
  {%endblock%}