{%extends 'base.html'%}

{%block pagebody%}

<style>
    /* Coded with love by Mutiullah Samim */
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: aliceblue !important;
    }
</style>

<div style="position: relative; width: 40%; margin-left: 30%; margin-right: 30%; margin-top: 5%; text-align: center;">
    <h2 style="color: black; margin-bottom: 5%;"><u>Details of user : {{rows[0]['name']}} office number : {{rows[0]['O_No']}}</u></h2>
        <table class="table table-sm table-bordered table-hover" style="text-align: left ;">
    <thead>
        <tr>
            <th scope="col">SER</th>
            <th scope="col">Name of Field</th>
            <th scope="col">Contents of Field</th>
        </tr>
    </thead>
    <tbody>
       {% for i in range(Column|length):%}
        <tr>
            <td>{{i+1}}</td>
            <td>{{Column[i]}}</td>
            <td>{{rows[i]}}</td>
        </tr>
       {%endfor%}
    </tbody>
</table>
</div>

{%endblock%}