{% extends 'templatebase.html'%}
{% block head %}
{% endblock %}

{% block body %}

<div class="row" style="margin-left: 5%;">
    <div class="span12" style="min-height: 90vh;">
        

      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <i class="icon-minus"></i> ADO's Remarks</a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              
                                                                          <article class="blog-post">

                                                                            <div class="post-heading">
                                                                              <h3><a href="#">This is example of quote post format</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>March 03, 2013</span></li>
                                                                                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                                                                                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                                                                                </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <p>
                                                                                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                                                                                  qui, no vituperata assueverit accommodare his.
                                                                                </p>
                                                                                <a href="#" class="btn btn-color btn-rounded">Read more</a>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                                                          <!-- end article 3 -->
                                                                          <!-- start article 3 -->
                                                                          <article class="blog-post">

                                                                            <div class="post-heading">
                                                                              <h3><a href="#">This is example of quote post format</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>March 03, 2013</span></li>
                                                                                  <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
                                                                                  <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                                                                                </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <p>
                                                                                  Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                                                                                  qui, no vituperata assueverit accommodare his.
                                                                                </p>
                                                                                <a href="#" class="btn btn-color btn-rounded">Read more</a>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                                                          <!-- end article 3 -->
  

            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <i class="icon-plus"></i>Divisional Officer's Remarks</a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              test 2
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <i class="icon-plus"></i>CO's Special Remarks</a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              test 2
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        <i class="icon-plus"></i>Area Commander Remakrs</a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              test 2
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        <i class="icon-plus"></i>CO's Remakrs</a>
          </div>
          <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
              test 2
            </div>
          </div>
        </div>
    </div>
</div>  
{% endblock %}