{% extends 'templatebase.html'%}
{% block head %}
{% endblock %}

{% block body %}
<div align="center">

  <div class="row" style="width: 80%;">
      <div class="span12" style="width: 100%;">
      <table  class="table table-hover table-bordered" style="text-align: center;font-size: 1vw;">
        <tr>
          <td style="text-align:center;">
            <form action="{{url_for('profile', id = id)}}">
              <Button style="width: 80%;" class="btn btn-primary btn-lg"> View Profile </Button>
            </form>
          </td>
          <td style="text-align:center;">
            <form action="{{url_for('editprofile', id = id)}}">
              <Button style="width: 80%;" class="btn btn-primary btn-lg"> Edit Profile </Button>
            </form>
          </td>
          <td style="text-align:center;">
            <form action="{{url_for('tyhistory', id = id)}}">
              <Button style="width: 80%;" class="btn btn-primary btn-lg"> TY Movement History </Button>
            </form>
          </td>
          <td style="text-align:center;">
            <form action="{{url_for('remarks', id = id)}}">
              <Button style="width: 80%;" class="btn btn-primary btn-lg"> Remarks </Button>
            </form>
          </td>
          <td style="text-align:center;">
            <form action="{{url_for('evaluation',id = id)}}">
              <Button style="width: 80%;" class="btn btn-primary btn-lg"> Evaluation Marking </Button>
            </form>
          </td>
          <td style="text-align:center;">
            <form action="{{url_for('leavehistory',id = id)}}">
              <Button style="width: 80%;" class="btn btn-primary btn-lg"> Leave History </Button>
            </form>
          </td>
        </tr>
      </table>

      <div class="accordion" id="accordion2" style="text-align: left;">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <i class="icon-plus"></i> ADO's Remarks</a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
                                             {% if type == '1'%}
                                                                          <article class="blog-post">
                                                                            <div class="post-heading">
                                                                              <h3><a>Post a New Remarks</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>- - -</span></li>
                                                                                </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <form method="POST" action="{{url_for('posting', id = id)}}">
                                                                                  <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  placeholder="Say Something" name = "remarkado"  ></textarea>
                                                                                  
                                                                                  <input type="submit" class="btn btn-color btn-rounded" value="Post">
                                                                                </form>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                          {% endif %}
                                          {% for row in rowsado%}
                                  
                                                                          <article class="blog-post">
                                                                            <div class="post-heading">
                                                                              <h3><a>Remarks form {{row[7]}}</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>{{"Date : " + row[4]}}</span></li><br>
                                                                                
                                                                                  <li><i class="icon-list-alt"></i><span>{{"O_No: " + row[2]}}</span></li><br>
                                                                                  <li><i class="icon-list-alt"></i><span>{{"Branch: " + row[5]}}</span></li><br>
                                                                                  <li><i class="icon-list-alt"></i><span>Rank: {{ row[6]}}</span></li><br>
                                                                                  </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <form method="POST" action="{{url_for('updateremark', id = id, postid = row[0], admintype = '1')}}">
                                                                                  <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  name = "remarkado" onclick="{{'adoFunction('+row[0]|string+')'}}" readonly id = "{{'ado'+row[0]|string}}" type="text"  >{{row[3]}}</textarea>
                                                                                  <!-- <input required name = "remarkado" style = "width: 80%; display:inline-block; padding:15px 10px; line-height:140%;" onclick="{{'adoFunction('+row[0]|string+')'}}" readonly id = "{{'ado'+row[0]|string}}" type="text" value = "{{row[3]}}"> -->
                                                                                  <input type="submit" class="btn btn-color btn-rounded" value="Update">
                                                                                </form>
                                                                                  <script>
                                                                                  function adoFunction(id) {
                                                                                    document.getElementById("{{'ado'}}" + id).readOnly = false;
                                                                                  }
                                                                                  </script>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                          {% endfor %}
                                      
                                                                          


            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <i class="icon-plus"></i>Divisional Officer's Remarks</a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
                                          {% if type == '2'%}
                                                                          <article class="blog-post">
                                                                            <div class="post-heading">
                                                                              <h3><a>Post a New Remarks</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>- - -</span></li>
                                                                                </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <form method="POST" action="{{url_for('posting', id = id)}}">
                                                                                  <!-- <p>
                                                                                  <input required style = "width: 80%; display:inline-block;
                                                                                  padding:15px 10px;
                                                                                  line-height:140%;" type="text" name = "remarkdo"  placeholder="Say Something ...">
                                                                                  </p> -->
                                                                                  <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  placeholder="Say Something" name = "remarkdo"  ></textarea>
                                                                                  <input type="submit" class="btn btn-color btn-rounded" value="Post">
                                                                                </form>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                          {% endif %}
                                          {% for row in rowsdo%}
                                          {% if type == '2' or type == '3'  or type == '4' or type == '5' or type == '0' %}

                                                                            <article class="blog-post">
                                                                              <div class="post-heading">
                                                                                <h3><a>Remarks form {{row[7]}}</a></h3>
                                                                              </div>
                                                                              <div class="row">
                                                                                <div class="span3">
                                                                                  <div class="post-icon">
                                                                                    <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                  </div>
                                                                                  <ul class="post-meta">
                                                                                    <li class="first"><i class="icon-calendar"></i><span>{{"Date : " + row[4]}}</span></li><br>
                                                                                  
                                                                                    <li><i class="icon-list-alt"></i><span>{{"O_No: " + row[2]}}</span></li><br>
                                                                                    <li><i class="icon-list-alt"></i><span>{{"Branch: " + row[5]}}</span></li><br>
                                                                                    <li><i class="icon-list-alt"></i><span>Rank: {{ row[6]}}</span></li><br>
                                                                                    </ul>
                                                                                  <div class="clear"></div>
                                                                                </div>
                                                                                <div class="span5">
                                                                                  <form method="POST" action="{{url_for('updateremark', id = id, postid = row[0], admintype = '2')}}">
                                                                                    <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  name = "remarkdo" onclick="{{'doFunction('+row[0]|string+')'}}" readonly id = "{{'do'+row[0]|string}}" type="text"  >{{row[3]}}</textarea>
                                                                                    <!-- <input required name = "remarkdo" style = "width: 80%; display:inline-block; padding:15px 10px; line-height:140%;" onclick="{{'doFunction('+row[0]|string+')'}}" readonly id = "{{'do'+row[0]|string}}" type="text" value = "{{row[3]}}"> -->
                                                                                    <input type="submit" class="btn btn-color btn-rounded" value="Update">
                                                                                  </form>
                                                                                    <script>
                                                                                    function doFunction(id) {
                                                                                      document.getElementById("{{'do'}}" + id).readOnly = false;
                                                                                    }
                                                                                    </script>
                                                                            
                                                                                  
                                                                                </div>
                                                                              </div>
                                                                            </article>
                                          {% endif %}
                                          {% endfor %}
                                      
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <i class="icon-plus"></i>CO's Special Remarks</a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
                                            {% if type == '3'%}
                                                                          <article class="blog-post">
                                                                            <div class="post-heading">
                                                                              <h3><a>Post a New Remarks</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>- - -</span></li>
                                                                                </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <form method="POST" action="{{url_for('posting', id = id)}}">
                                                                                  <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  placeholder="Say Something" name = "remarkco"  ></textarea>
                                                                                  <!-- <p>
                                                                                  <input required style = "width: 80%; display:inline-block;
                                                                                  padding:15px 10px;
                                                                                  line-height:140%;" type="text" name = "remarkco"  placeholder="Say Something ...">
                                                                                  </p> -->
                                                                                  <input type="submit" class="btn btn-color btn-rounded" value="Post">
                                                                                </form>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                          {% endif %}
                                          {% for row in rowsco%}
                                          {% if type == '3' or type == '0' or type == '4' or type == '5' %}

                                                                            <article class="blog-post">
                                                                              <div class="post-heading">
                                                                                <h3><a>Remarks form {{row[7]}}</a></h3>
                                                                              </div>
                                                                              <div class="row">
                                                                                <div class="span3">
                                                                                  <div class="post-icon">
                                                                                    <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                  </div>
                                                                                  <ul class="post-meta">
                                                                                    <li class="first"><i class="icon-calendar"></i><span>{{"Date : " + row[4]}}</span></li><br>
                                                                                  
                                                                                    <li><i class="icon-list-alt"></i><span>{{"O_No: " + row[2]}}</span></li><br>
                                                                                    <li><i class="icon-list-alt"></i><span>{{"Branch: " + row[5]}}</span></li><br>
                                                                                    <li><i class="icon-list-alt"></i><span>Rank: {{ row[6]}}</span></li><br>
                                                                                    </ul>
                                                                                  <div class="clear"></div>
                                                                                </div>
                                                                                <div class="span5">

                                                                                  <form method="POST" action="{{url_for('updateremark', id = id, postid = row[0], admintype = '3')}}">
                                                                                    <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  name = "remarkco" onclick="{{'coFunction('+row[0]|string+')'}}" readonly id = "{{'co'+row[0]|string}}" type="text"  >{{row[3]}}</textarea>
                                                                                    <!-- <input required name = "remarkco" style = "width: 80%; display:inline-block; padding:15px 10px; line-height:140%;" onclick="{{'coFunction('+row[0]|string+')'}}" readonly id = "{{'co'+row[0]|string}}" type="text" value = "{{row[3]}}"> -->
                                                                                    <input type="submit" class="btn btn-color btn-rounded" value="Update">
                                                                                  </form>
                                                                                    <script>
                                                                                    function coFunction(id) {
                                                                                      document.getElementById("{{'co'}}" + id).readOnly = false;
                                                                                    }
                                                                                    </script>
                                                                            
                                                                                  
                                                                                </div>
                                                                              </div>
                                                                            </article>
                                            {% endif %}
                                            {% endfor %}
                                      
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        <i class="icon-plus"></i>Area Commander Remarks / Recommendation</a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
                                            {% if type == '5'%}
                                                                          <article class="blog-post">
                                                                            <div class="post-heading">
                                                                              <h3><a>Post a New Remarks</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>- - -</span></li>
                                                                                </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <form method="POST" action="{{url_for('posting', id = id)}}">
                                                                                  <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  placeholder="Say Something" name = "remarkarea"  ></textarea>
                                                                                  <!-- <p>
                                                                                  <input required style = "width: 80%; display:inline-block;
                                                                                  padding:15px 10px;
                                                                                  line-height:140%;" type="text" name = "remarkarea"  placeholder="Say Something ...">
                                                                                  </p> -->
                                                                                  <input type="submit" class="btn btn-color btn-rounded" value="Post">
                                                                                </form>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                          {% endif %}
                                          {% for row in rowsarea%}
                                          {% if type == '5' or type == '0' %}

                                                                          <article class="blog-post">
                                                                            <div class="post-heading">
                                                                              <h3><a>Remarks form {{row[7]}}</a></h3>
                                                                            </div>
                                                                            <div class="row">
                                                                              <div class="span3">
                                                                                <div class="post-icon">
                                                                                  <i class="icon-bg-dark icon-circled icon-quote-left icon-3x active"></i>
                                                                                </div>
                                                                                <ul class="post-meta">
                                                                                  <li class="first"><i class="icon-calendar"></i><span>{{"Date : " + row[4]}}</span></li><br>
                                                                                
                                                                                  <li><i class="icon-list-alt"></i><span>{{"O_No: " + row[2]}}</span></li><br>
                                                                                  <li><i class="icon-list-alt"></i><span>{{"Branch: " + row[5]}}</span></li><br>
                                                                                  <li><i class="icon-list-alt"></i><span>Rank: {{ row[6]}}</span></li><br>
                                                                                  </ul>
                                                                                <div class="clear"></div>
                                                                              </div>
                                                                              <div class="span5">
                                                                                <form method="POST" action="{{url_for('updateremark', id = id, postid = row[0], admintype = '5')}}">
                                                                                  <textarea rows = "5" cols = "60" required style = "width: 150%;height: 300%;"  name = "remarkarea" onclick="{{'areaFunction('+row[0]|string+')'}}" readonly id = "{{'area'+row[0]|string}}" type="text"  >{{row[3]}}</textarea>
                                                                                  <!-- <input required name = "remarkarea" style = "width: 80%; display:inline-block; padding:15px 10px; line-height:140%;" onclick="{{'areaFunction('+row[0]|string+')'}}" readonly id = "{{'area'+row[0]|string}}" type="text" value = "{{row[3]}}"> -->
                                                                                  <input type="submit" class="btn btn-color btn-rounded" value="Update">
                                                                                </form>
                                                                                  <script>
                                                                                  function areaFunction(id) {
                                                                                    document.getElementById("{{'area'}}" + id).readOnly = false;
                                                                                  }
                                                                                  </script>
                                                                              </div>
                                                                            </div>
                                                                          </article>
                                          {% endif %}
                                          {% endfor %}
                                      
            </div>
          </div>
        </div>

    </div>
</div>  
</div>
{% endblock %}