{%extends 'base.html'%}

{%block pagebody%}

<style>
    /* Coded with love by Mutiullah Samim */
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: aliceblue !important;
    }
</style>

<div style="position: relative; width: 60%; margin-left: 20%; margin-right: 20%; margin-top: 7%;">
    <h2 style="color: black; margin-bottom: 5%; text-align: center;"><u>Accessible data of user : {{session['O_No']}}</u></h2>
<table class="table table-hover table-bordered" style="text-align: center;">
    <thead class="thead-light">
      <tr>
        <th scope="col">Ser</th>
        <th scope="col">Office Number</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
        
    <tbody>
        {% for i in range(rows|length):%}
        <tr>
            <td style="color: black;">{{i+1}}</td>
            <td> <a style="text-decoration: none;color: black;" href="{{url_for('profile',id=rows[i][0])}}">{{rows[i][0]}}</a></td>
            <td> <a style="text-decoration: none;color: black;" href="{{url_for('profile',id=rows[i][0])}}">{{rows[i][3]}}</a></td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}