{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}


{% endblock %}
CREATE TABLE IF NOT EXISTS UserInfo (
O_No text ,
usertype text ,
password text ,
name text ,
slist1 INTEGER ,
slist2 INTEGER,
MobileNo_1 text ,
MobileNo_2 text ,
DateofBith Date ,
PresentAddress text ,
PermanentAddress text ,
marrital_status INTEGER ,
DateofMarriage Date ,
ServiceIdCardNo text ,
NIDCardNo text ,
DrivingLicenseNo text ,
BloodGroup INTEGER ,
Height Float ,
Weight FLoat,
StateofOverWeight INTEGER ,
FacebookAccount text ,
Emailaddress text ,
home_district INTEGER ,
NextofKin text ,
Relationship text ,
ContactNumberofNextofKin text ,
NameofWife text ,
AddressofWife text ,
MobileNo text ,
Anyspecialinfowife text ,
ChildrenNumber INTEGER ,
ChildrenName text ,
DOBofChildren date ,
Anyspecialinfochildren text ,
FathersName text ,
FathersMobileNo text ,
FathersAddress text ,
MothersName text ,
MothersMobileNo text ,
MothersAddress text ,
FamilyCrisis text ,
SiblingNumber INTEGER ,
BrothersName text ,
BrothersMobileNo text ,
BrothersAddress text ,
highestEducation INTEGER ,
OngoingcivilEducation INTEGER ,
DateofJoiningService date ,
ServiceCategory INTEGER ,
Medicalcategory text ,
DateofLastPromotion date ,
DateofNextPromotion date ,
PresentEngagement INTEGER ,
NextREEngagementDue date ,
DateofNextIncrement date ,
NumberofGCB INTEGER ,
EffectivedateofexistingGCB text ,
DateofNextGCB date ,
DateofJoiningShip date ,
NameofShip text ,
UNMission text ,
GoodWillMission text ,
DAONumber text ,
PLeaveAvailed INTEGER ,
LastDateofPL date ,
PLeaveDue INTEGER ,
RecreationLeaveDue date ,
CLeaveAvailed INTEGER ,
CLeaveDue INTEGER ,
SickLeave text ,
ExBangladeshLeave text ,
Rl text ,
Sourceofdebt text ,
Amountofdebt float ,
ChoiceofAreaForPosting INTEGER ,
ChoiceofNextAppointment INTEGER ,
NameofImportantCourses text ,
NameofNextCourse text ,
ForeignCourse text ,
SpecialQualification text ,
ChoiceofNextCourse text ,
DateoflastSecurityClearance text ,
ExtraCurricularActivities text ,
GamesAndSports text
 );

 data_with_datatpe=[['O_No' , 'text' ],
 ['usertype' , 'text' ],
 ['password' , 'text' ],
 ['name' , 'text' ],
 ['slist1' , 'INTEGER' ],
 ['slist2' , 'INTEGER,' ],
 ['MobileNo_1' , 'text' ],
 ['MobileNo_2' , 'text' ],
 ['DateofBith' , 'Date' ],
 ['PresentAddress' , 'text' ],
 ['PermanentAddress' , 'text' ],
 ['marrital_status' , 'INTEGER' ],
 ['DateofMarriage' , 'Date' ],
 ['ServiceIdCardNo' , 'text' ],
 ['NIDCardNo' , 'text' ],
 ['DrivingLicenseNo' , 'text' ],
 ['BloodGroup' , 'INTEGER' ],
 ['Height' , 'Float' ],
 ['Weight' , 'FLoat,' ],
 ['StateofOverWeight' , 'INTEGER' ],
 ['FacebookAccount' , 'text' ],
 ['Emailaddress' , 'text' ],
 ['home_district' , 'INTEGER' ],
 ['NextofKin' , 'text' ],
 ['Relationship' , 'text' ],
 ['ContactNumberofNextofKin' , 'text' ],
 ['NameofWife' , 'text' ],
 ['AddressofWife' , 'text' ],
 ['MobileNo' , 'text' ],
 ['Anyspecialinfowife' , 'text' ],
 ['ChildrenNumber' , 'INTEGER' ],
 ['ChildrenName' , 'text' ],
 ['DOBofChildren' , 'date' ],
 ['Anyspecialinfochildren' , 'text' ],
 ['FathersName' , 'text' ],
 ['FathersMobileNo' , 'text' ],
 ['FathersAddress' , 'text' ],
 ['MothersName' , 'text' ],
 ['MothersMobileNo' , 'text' ],
 ['MothersAddress' , 'text' ],
 ['FamilyCrisis' , 'text' ],
 ['SiblingNumber' , 'INTEGER' ],
 ['BrothersName' , 'text' ],
 ['BrothersMobileNo' , 'text' ],
 ['BrothersAddress' , 'text' ],
 ['highestEducation' , 'INTEGER' ],
 ['OngoingcivilEducation' , 'INTEGER' ],
 ['DateofJoiningService' , 'date' ],
 ['ServiceCategory' , 'INTEGER' ],
 ['Medicalcategory' , 'text' ],
 ['DateofLastPromotion' , 'date' ],
 ['DateofNextPromotion' , 'date' ],
 ['PresentEngagement' , 'INTEGER' ],
 ['NextREEngagementDue' , 'date' ],
 ['DateofNextIncrement' , 'date' ],
 ['NumberofGCB' , 'INTEGER' ],
 ['EffectivedateofexistingGCB' , 'text' ],
 ['DateofNextGCB' , 'date' ],
 ['DateofJoiningShip' , 'date' ],
 ['NameofShip' , 'text' ],
 ['UNMission' , 'text' ],
 ['GoodWillMission' , 'text' ],
 ['DAONumber' , 'text' ],
 ['PLeaveAvailed' , 'INTEGER' ],
 ['LastDateofPL' , 'date' ],
 ['PLeaveDue' , 'INTEGER' ],
 ['RecreationLeaveDue' , 'date' ],
 ['CLeaveAvailed' , 'INTEGER' ],
 ['CLeaveDue' , 'INTEGER' ],
 ['SickLeave' , 'text' ],
 ['ExBangladeshLeave' , 'text' ],
 ['Rl' , 'text' ],
 ['Sourceofdebt' , 'text' ],
 ['Amountofdebt' , 'float' ],
 ['ChoiceofAreaForPosting' , 'INTEGER' ],
 ['ChoiceofNextAppointment' , 'INTEGER' ],
 ['NameofImportantCourses' , 'text' ],
 ['NameofNextCourse' , 'text' ],
 ['ForeignCourse' , 'text' ],
 ['SpecialQualification' , 'text' ],
 ['ChoiceofNextCourse' , 'text' ],
 ['DateoflastSecurityClearance' , 'text' ],
 ['ExtraCurricularActivities' , 'text' ],
 ['GamesAndSports' , 'text' ]]
