<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body , html{
      background-image: url('/static/images/background.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
    .w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
  </style>
  <meta charset="utf-8">
  <title>DDRB - Commander Flotilla West</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Clean responsive bootstrap website template">
  <meta name="author" content="">
  <!-- styles -->
  <link href="{{url_for('static', filename ='assets/css/bootstrap.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/bootstrap-responsive.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/docs.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/prettyPhoto.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/js/google-code-prettify/prettify.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/prettyPhoto.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/flexslider.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/refineslide.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/css/font-awesome.css')}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

  <link href="{{url_for('static', filename ='assets/css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename ='assets/color/default.css')}}" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="{{url_for('static', filename ='assets/ico/favicon.ico')}}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename ='assets/ico/apple-touch-icon-144-precomposed.png')}}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename ='assets/ico/apple-touch-icon-114-precomposed.png')}}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename ='assets/ico/apple-touch-icon-72-precomposed.png')}}">
  <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename ='assets/ico/apple-touch-icon-57-precomposed.png')}}">
  {%block head%}
  {%endblock%}
</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class=" cbp-af-header">
      <div class=" cbp-af-inner">
        <div class="container">
          <div class="row">

            <div class="span4">
              <!-- logo -->
              <a class="logo" href="index.html">
                <h1>COMFLOT WEST</h1>
                <!-- <img src="assets/img/logo.png" alt="" /> -->
              </a>
              <!-- end logo -->
            </div>

            <div class="span8">
              <!-- top menu -->
              <div class="navbar">
                <div class="navbar-inner">
                  <nav>
                    <ul class="nav topnav">
                      {% if (login_status==True):%}
                      <li class="{{ 'dropdown active' if active_page == 'home' else 'dropdown' }}">
                        <a href="{{url_for('home')}}">Home</a>
                      </li>
                      {% if session['usertype'] == '0' %}
                        <li class="{{ 'dropdown active' if active_page == 'addadmin' else 'dropdown' }}">
                          <a href="{{url_for('addadminlist')}}">Add Admin</a>
                        </li>
                      {% endif %}
                      {% if session['usertype'] == '1' %}
                        <li class="{{ 'dropdown active' if active_page == 'adduser' else 'dropdown' }}">
                          <a href="{{url_for('adduser')}}">Add Sailor</a>
                        </li>
                      {% endif %}
                      {% if session['usertype'] != '1' %}
                        <li class="{{ 'dropdown active' if active_page == 'search' else 'dropdown' }}">
                          <a href="{{url_for('search')}}">CAT</a>
                        </li>
                      {% endif %}
                      <!-- <li class="{{ 'dropdown active' if active_page == 'profile' else 'dropdown' }}">
                        <a href="{{url_for('profile',id=user)}}">Profile</a>
                      </li> -->
                      <li class="{{ 'dropdown active' if active_page == 'show' else 'dropdown' }}">
                        <a href="{{url_for('show')}}">List</a>
                      </li>
                      <li class="{{ 'dropdown active' if active_page == 'notification' else 'dropdown' }}">
                        <a href="{{url_for('notification')}}">Notification</a>
                      </li>
                      <li class="dropdown">
                        <a href="{{url_for('logout')}}">Log Out</a>
                      </li>
                      {%endif%}
                      
                      
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- end menu -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Subhead
================================================== -->
  <section id="subintro">
    <!-- <div class="container">
      <div class="row">
          <h3>COMMAND ASSISTING TOOl(CAT) </strong></h3>
      </div>
    </div>  -->
  </section>

  <section id="maincontent">
    {%block body%}

    {%endblock%}
</div>
  </section>
  <!-- Footer
 ================================================== -->
    <footer>
    <p>
      &copy; Hello Tech - All right reserved
      <br>
      Designed by Hello Tech
    </p>
  </footer>

  <script src="{{url_for('static', filename ='assets/js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/modernizr.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/google-code-prettify/prettify.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/bootstrap.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/jquery.prettyPhoto.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/portfolio/jquery.quicksand.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/portfolio/setting.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/hover/jquery-hover-effect.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/jquery.flexslider.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/classie.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/cbpAnimatedHeader.min.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/jquery.refineslide.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/animate.js')}}"></script>
  <script src="{{url_for('static', filename ='assets/js/jquery.ui.totop.js')}}"></script>

  <!-- Template Custom Javascript File -->
  <script src="{{url_for('static', filename ='assets/js/custom.js')}}"></script>

</body>

</html>
