{%extends 'templatebase.html'%}
{%block head%}
{%endblock%}
{%block body%}
<div class="row" style="margin-left: 5%;" >
    <div class="span12">
<form action="{{url_for('adding_ty', id = id)}}" method="POST">
    <table border="5px">
    <tr>
        <th scope="col">TY Billet</th>
        <th scope="col">Purposeof TY</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Duration</th>

    </tr>
    {%for i in range(rows|length)%}
        <tr>
            <td style="text-align: center;">{{rows[i]['TYBillet']}}</td style="text-align: center;">
            <td style="text-align: center;">{{rows[i]['PurposeofTY']}}</td style="text-align: center;">
            <td style="text-align: center;">{{rows[i]['TYfrom']}}</td style="text-align: center;">
            {%if rows[i]['Button'] == True%}
                <td style="text-align: center;">
                    <a href="{{url_for('completety', id = id, idx = rows[i]['idx'])}}">Comlete the TY</a>
                </td>
            {% else %}
                <td style="text-align: center;">{{rows[i]['TYto']}}</tdstyle="text-align: center;">
            {%endif%}
            
            <td>{{rows[i]['Duration']}}</td>    
        </tr>
    {%endfor%}
    <tr>
        <td><input type="text" name="TYBillet"></td>
        <td><input type="text" name="PurposeofTY"></td>
        <td><input type="date" name="TYfrom"></td>
        <td><input type="date" name="TYto"></td>
        <td><input  type="submit" value="Add TY" class="btn btn-primary btn-lg"></td>
    </tr>
    </table>
    

    </form>
</div>
</div>
{%endblock%}